/* import google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Libre+Bodoni:ital@1&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #88abff;
}
.wrapper{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    gap: 15px;
}
.wrapper li{
    height: 250px;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 20px 20px;
}
.wrapper .note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-box, .bottom-content{
    display: flex;
    align-items: center;
}
.add-box{
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    font-size: large;
    font-weight: 900;
    /* justify-content: space-between; */

}
.add-box .icon{
    height: 78px;
    width: 78px;
    color: black;
    font-size: 56px;
    border-radius: 50%;
    /* align-items: center;
    justify-content: center; */
    /* padding-left: 10px;
    padding-bottom: 70px; */
    border: 2px dashed black;
}
.uil-plus{
    margin-left: 7px;
}
.add-box p{
    color: #88abff;
    font-weight: 500;
    margin-top: 20px;
}
.note p{
    font-size: 22px;
    font-weight: 500;
}
.note span{
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}
.note .bottom-content{
    border-top: 2px solid #ccc;
    justify-content: space-between;
    margin-top: 10px;
}
.bottom-content span{
    color: #6d6d6d;
    font-size: 14px;
}
.bottom-content img{
    color: #6d6d6d;
    font-size: 15px;
    cursor: pointer;
}
.note .bottom-content .menu{
    box-shadow: 0 0 6px rgb(43, 42, 42);
    position: absolute;
    bottom: 0%;
    right: -5px;
    border-radius: 4px;
    transform: scale(0);
}
.settings{
    position: relative;
    cursor: pointer;
}
.settings.show .menu{
    transform: scale(1);
}
.note .bottom-content .menu li{
    height: 30px; 
    width: 103px;
    border-radius: 0px;
    cursor: pointer;
    padding: 5px;
    /* display: none; */
    /* display: flex; */
    /* justify-content: center; */
}
.note .bottom-content .menu li:hover{
    background-color: rgb(229, 226, 226);
}
.note .bottom-content .settings .menu li i{
    padding-right: 5px;
}


.popup-box{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.popup-box .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 3;
    /* width: 100%; */
    /* max-width: 400px; */
    border-radius: 50px;
}
.popup .content{
    background: #fff;
    width: 400px;
    height: 430px;
}
.popup .content header{
    border-bottom: 1px solid #ccc;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    
}
.popup-box , .popup-box.popup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box.show , .popup-box.show.popup{
    opacity: 1;
    pointer-events: auto;
}
.content header p{
    font-weight: 500;
    font-size: 20px;
}
.content header i{
    color: black;
    cursor: pointer;
    font-size: 20px;
}
.content header i:hover{
    background-color: rgb(241, 72, 72);
    color: #fff;
}
.content form{
    margin: 15px 25px 35px;
}
.content form input{
    width: 100%;
    margin-top: 5px;
    height: 34px;
    margin-bottom: 10px;
    padding-left: 12px;
    border-top: 0.1px solid black;
    /* border: none;
    outline: none; */
}
.content form textarea{
    width: 100%;
    margin-top: 10px;
    padding-left: 12px;
    border-top: 0.1px solid black;
    /* outline: none; */
}
.content form label{
    font-size:medium;
    font-weight: 640;
}
.content form .row{
    margin-bottom: 20px;
}
.content form :where(input , textarea){
    width: 100%;
    border: 1px solid #999; 
    border-radius: 4px;
}
.content form button{
    background-color: #6a93f8;
    width: 100% ;
    height: 50px ;
    color: black;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    font-weight: bolder;
}
.content form button:hover{
    border: 1px solid black;
}